/* imported mulish fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,600;0,700;0,800;1,200;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* navigation starts here */
.container,
section {
    margin: 0 auto;
    width: 1200px;
}

.nav-title {
    display: flex;
    gap: 30px;
}

.nav-title h2 {
    font-size: 36px;
    font-weight: 800;
}

.nav-bar {
    display: flex;
    gap: 20px;
    color: #424247;
    align-items: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    border: 2px solid teal;
}

/* navigation ends here */

/* banner section starts here */
section {
    width: 1200px;
    height: 500px;
    margin-top: 60px;
    border-radius: 16px;
    background-image:
        linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png);
}

.banner-container {
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 50px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.btn-bg {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    width: 0 auto;
    border-radius: 8px;
}

.Find {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
}

/* banner section ends here */